[plusServer]
host=147.231.13.102
port=80
[image]
name=Image_Tracker
crop=@Rect(165 100 465 355)
freezeArea=@Rect(560 567 32 20)
[transformations]
names=ProbeToTracker,ReferenceToTracker
[output]
dir=/Users/gimli/Temp/SonoGrabberOut
imageCount=0
